# Node dependencies
node_modules/

# TypeScript build outputs
dist/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables
.env
.env.*

# SQLite / Prisma databases y artefactos
*.sqlite
*.db
prisma/dev.db

# Prisma client (re-generated)
prisma/dev.db-journal

# OS / Editor files
.DS_Store
.idea/
.vscode/

# Coverage / testing
coverage/
.nyc_output/

# Misc
build/
.temp/ 